figure {
    margin: 0;
    padding: 0;
  }
  
  .grid {
    font-size: 0;
    margin: 0 -12.5px;
  }
  
  .grid>.grid-item {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 5px;
    padding: 0 12.5px;
    display: inline-block;
    width: 33.33%;
  }
  .card-image {
    width: 194px;
    height: 215px;
  }
  .card-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }
  
  .list-numders {
    list-style-type: none;
    counter-reset: item 0;
    color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .li-numbers:before {
    content: counter(item) ') ';
    counter-increment: item;
  }

  